

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.2vw;
    text-align: left;
    font-weight: 900;
    color: #03A6A6;
}

button {
    font-family: papyrus;
    font-size: 2.5vw;
    text-align: left;
    margin: auto;
    background-color: #F2B950;
    color: #301840;
    border: none;
    cursor: pointer;
    padding: 0px 100px;
}


  #demo {
    color: whitesmoke;
    position: absolute;
    inline-size: 400px;
    font-size: 2vw;
    font-weight: 600;
  }

  .image {
      position: fixed;
      bottom: 16px;
      right: 16px;
  }

  .container {
    position: absolute;
    background-color: #301840;
    width: 500px;
    border: 80px solid #301840;
    padding: 0px 70px 70px 70px;
    margin: 16px;
  }